.txt_button{
    font-size: 50px;
    color: whitesmoke;
    font-weight: 400;
}
.calc{
    margin: auto;
    background-color: black;
    border: 2px solid whitesmoke;
    width: 300px;
    height: 517px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px;
} 
.txt_button{
    background-color: black;
    border: 1px solid gray;
    height: 80px;
    width: 98.3%;
} 
.num_button{ 
    padding: 30px 30px;
    border-radius: 50px;
    font-weight: 600;
    background-color: gray;

}
.num_button:hover{
    background-color: rgb(180, 178, 178);
    color: whitesmoke;
}
.calc_button{
    padding: 30px 30px;
    border-radius: 50px;
    font-weight: 600;
    background-color: orange;
}  
.calc_button:hover{
    background-color: rgb(119, 78, 3);
    color: whitesmoke;
}
.c{
    padding: 30px 30px;
    border-radius: 50px;
    font-weight: 600;
    background-color: red;
} 
.c:hover{
    background-color: rgb(225, 114, 114);
    color: whitesmoke;
}
.brace{
    padding: 30px 30px;
    border-radius: 50px;
    font-weight: 600;
    background-color: green;
}
.brace:hover{
    background-color: rgb(124, 215, 124);
    color: whitesmoke;
}
.percent{
padding: 30px 30px;
    border-radius: 50px;
    font-weight: 600;
    background-color: green;
}
.percent:hover{
    background-color: rgb(124, 215, 124);
    color: whitesmoke;
}
.del{
padding: 30px 30px;
    border-radius: 50px;
    font-weight: 600;
    background-color: red
} 
.del:hover{
    background-color: rgb(225, 114, 114);
    color: whitesmoke;
}
.stop{
padding: 30px 30px;
    border-radius: 50px;
    font-weight: 600;
    background-color: green;
}
.stop:hover{
    background-color: rgb(124, 215, 124);
    color: whitesmoke;
}
.equal{
    padding: 30px 30px;
    border-radius: 50px;
    font-weight: 600;
    background-color: orange;
}  
.equal:hover{
    background-color: rgb(119, 78, 3);
    color: whitesmoke;
}